<launch>
    <node pkg="rviz" type="rviz" name="rviz"/>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tf_offset" args="0 0 0 -1.5707 0 -1.5707 zed2i_left_camera_frame zed2i_optical_copy"/> -->
    <!-- load ZED URDF -->
    <param name="zed2i_description" command="$(find xacro)/xacro '$(find zed_wrapper)/urdf/zed_descr.urdf.xacro'
                    camera_name:=zed2i
                    camera_model:=zed2i
                    base_frame:=base_link" />
    <!-- ZED URDF publisher -->
    <node name="zed2i_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" required="true">
        <remap from="robot_description" to="zed2i_description" />
    </node>
    <rosparam command="load" file="$(find plant_selector)/urdf/gripper.urdf" param="gripper_description"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="gripper_state_publisher">
        <remap from="robot_description" to="gripper_description"/>
    </node>
</launch>

