<launch>
    <param name="frame_id" value="zed2i_left_camera_frame"/>
    <param name="pc_source" value="/zed2i/zed_node/point_cloud/cloud_registered"/>
    <param name="camera" value="zed"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find plant_selector)/rviz/zed.rviz"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="gripper_offset" args="0 0 0 0 0 0 zed2i_left_camera_frame end_effector_left"/> -->
    <param name="default_bag_path" value='$(find plant_selector)/bags'/>

    <!-- load ZED URDF -->
    <param name="zed2i_description" command="$(find xacro)/xacro '$(find zed_wrapper)/urdf/zed_descr.urdf.xacro'
                    camera_name:=zed2i
                    camera_model:=zed2i
                    base_frame:=base_link" />
    <!-- ZED URDF publisher -->
    <node name="zed2i_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" required="true">
        <remap from="robot_description" to="zed2i_description" />
    </node>
    <rosparam command="load" file="$(find plant_selector)/urdf/gripper.urdf" param="gripper_description"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="gripper_state_publisher">
        <remap from="robot_description" to="gripper_description"/>
    </node>

    <!-- Python Scripts -->
    <node name="plant_extraction" pkg="plant_selector" type="plant_extraction.py" output="screen"/>

    <!-- Cpp Executables-->
    <node name="real_time_handler" pkg="plant_selector" type="real_time_handler" output="screen"/>
</launch>

